<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block title%}
    <link rel="stylesheet" href="{{ url_for('static',filename='base.css')}}">
    <title>{{title}}</title>
    {% endblock %}
  </head>
  <body>
    <div id="flask">
      <header>
        <div class="right">
          <h1>Flasky App</h1>
        </div>
        <div class="left">
          <ul>
            {% if current_user.is_anonymous%}
            <li><a href="{{url_for('login')}}">Home</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
            {% else %}
            <li> <a href="{{url_for('logout')}}">Logout</a> </li>
            {% endif %}
          </ul>
        </div>
      </header>
      <section id="home">
        <div class="messages">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
        </div>
        <div class="login">
          {% block body %}
          {% endblock %}
        </div>
      </section>
      <footer>
        <p>&copy;2019</p>
      </footer>
    </div>
  </body>
</html>
