{% extends 'base.html'%}
{% block title%}
<link rel="stylesheet" href="{{ url_for('static',filename='base.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}">
<title>{{title}}</title>
{% endblock %}
{% block body %}
   <div id="ho">
     <div class="forms">
       <form  method="post">
         {{form.hidden_tag()}}
         <div class="form-group">
           <label for="" class="label">{{form.name.label}}</label>
           {{form.name(size=32,class="text-input")}}
         </div>
         <div class="form-group">
           <label for="" class="label">{{form.details.label}}</label>
           {{form.details(cols=50,rows=5,class="text-input")}}
         </div>
         {{form.submit(class="btn")}}
       </form>
     </div>
     <div class="ps">
       {% for post in posts%}
         <a href="{{url_for('.post',id=post.id)}}"><h1>{{post.id}}{{post.name}}</h1></a>
         <p>{{post.details}}</p>
       {% endfor %}
       {% if post %}
          <h1>{{post.name}}</h1>
       {% endif %}
     </div>

   </div>
{% endblock %}
