{% extends 'base.html'%}
{% block title%}
<link rel="stylesheet" href="{{ url_for('static',filename='base.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='register.css')}}">
<title>{{title}}</title>
{% endblock %}
{% block body %}
   <div class="reg-form">
     <form  method="post">
       {{form.hidden_tag()}}
       <div class="form-group">
         <label for="" class="label">{{form.username.label}}</label>
         {{form.username(size=32,class="text-input")}}
       </div>
       <div class="form-group" ">
         <label for="" class="label">{{form.email.label}}</label>
         {{form.email(size=120,class="text-input")}}
       </div>
       <div class="form-group" ">
         <label for="" class="label">{{form.password.label}}</label>
         {{form.password(size=32,class="text-input")}}
       </div>
       <div class="form-group" >
         <label for="" class="label">{{form.password2.label}}</label>
         {{form.password2(size=32,class="text-input")}}
       </div>
       {{form.submit(class="btn")}}
     </form>
   </div>
{% endblock %}
